:root {
    --white: f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 1.8rem; /* 18 px */
    font-weight: 400; /* normal */
    line-height: 1.5;
    color: var(--white);
    overflow: hidden;
}

h1, h2, h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 700;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "params main"
        "params main"
        "params comment";
    height: 100vh;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.params {
    background: #fef6c2;
    grid-area: params;
}

.main {
    background-color: white;
    grid-area: main;
}

.comment {
    background-color: aliceblue;
    grid-area: comment;
    color: black;
}

#form {
    width: 90%;
    margin: 3% 5%;
}

#box {
    margin-left: 5%;
}
select, #name, #comment {
    width: 50%;
    padding: 1% 3%;
    margin: 1% 0;
    box-sizing: border-box;
    border: 3px solid lightsalmon;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: medium;
}

output {
    padding-left: 2%;
    font-weight: bold;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

#unit {
    font-family: "Courier New", Courier, monospace;
}

input[type=range] {
    width: 70%;
    padding: 1% 0;
    margin: 3% 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: lightsalmon;
  outline: none;
  opacity: 0.7;
}
.slider:hover {
  opacity: 1;
}

label {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-weight: bold;
}

#submit, #export , #post, #r{
    background-color: cornflowerblue;
    outline: none;
    padding: 1%;
    font-size: larger;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: 0.4s;
    transition: 0.2s;
    border: none;
    width: 95%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: pointer;
}

#export {
    width: 80%;
    background-color: lawngreen;
    margin-left: 10%;
    margin-right: 10.2%;
    padding: 1%;
    font-size: large;
}

#submit:hover {
    background-color: blueviolet;
}

#export:hover {
    background-color: #DDC003;
}


.main > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 52%;
}

#name {
    margin-left: 20px;
    width: 18%;
    border: 2px solid #93b8fc;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;

}

#comment {
    width: 70%;
    border: 2px solid #93b8fc;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
}

#post {
    width: 7%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: medium;
}

#reviews {
    background-color: #fff6d4;
    margin-left: 10%;
    border-radius: 10px;
    max-width: 80%;
    padding: 5px 5px 1px 5px;
    margin-bottom: 7px;
    border: 2px solid #ebffe5;
    box-shadow: 0px 0px 20px 0px #c2faae;
}

#reviews:hover {
  border: 2px solid #c2f5b3;
}

@keyframes prediction {
    from {font-size: 3.5rem;}
    to {font-size: 5rem;}
}
#p {
    color: blue;
    font-size: 3.5rem;
    animation-name: prediction;
    animation-duration: 2s;
}

#citation {
    font-size: xx-small;
    font-style: normal;
    margin-left: 4.5%;
    position:absolute;
    bottom:0;

}

#citation:link {
    text-decoration: none;
}

#r {
    width: fit-content;
    background-color: lightblue;
    padding: 0% 1% 0.5% 1%;
    font-size: smaller;
}