<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Machine learning, multiclass classification, palmer penguins, python, flask, mongo, scikit-learn">
    <meta name="description" content="A multiclass classification machine learning flask application on the palmer penguins dataset">
    <meta name="author" content="Abdulqadir Yabo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="/static/logo.png">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% block title %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>